<template>
  <div id="CardGameArticlePreview">
    <div class="pb-4 bg-secondary">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-head text-center mx-4">
                <b-img fluid
                  class="img-custome mt-4 mb-3"
                  v-bind:src="this.image1"/>
                <h2 class="text-center">Dota 2 Visual Analysis</h2>
              </div>
              <hr />
              <div class="card-body">
                <p class="text-justify">
                    Starting out as a mod for the popular RTS game Warcraft 3, Dota has become a staple of competetive online multiplayer gaming.
While creating the successor to the original mod, the designers had the opportunity to reinvent the game. They managed to keep the games’ origin in their design philosophy, but also make it distinguishable enough from its former limitations.
Today we are taking a closer look at the Visual Design of Dota 2...

                </p>
                <div class="row justify-content-center pt-2">
                  <router-link to="/portfolio-website/blog/dotavisualdesign" style="text-decoration:none">
                    <b-button class="">More</b-button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      image1: require('./VisualDesignArticlePreviewImage.jpg')
    }
  }
};
</script>

<style scoped>
.img-custome{
    width: 500px;
    height: 287,5;
}
</style>