<template>
  <div id="CardGameArticle" class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card my-4">
            <div class="card-head text-center mx-4">
              <b-img fluid
                class="img-custome my-4"
                v-bind:src="this.image1"
              />
              <h2 class="text-center">Dota 2 Visual Analysis</h2>
              <figcaption class="figure-caption text-center mt-1 text-secondary">
                      29.10.2021
                  </figcaption>
            </div>
            <hr />

            <!-- start content -->
            <div class="card-body mx-3">
                <p class="text-justify">
                    Starting out as a mod for the popular RTS game Warcraft 3, Dota has become a staple of competetive online multiplayer gaming. While creating the successor to the original mod, the designers had the opportunity to reinvent the game. They managed to keep the games’ origin in their design philosophy, but also make it distinguishable enough from its former limitations. Today we are taking a closer look at the Visual Design of Dota 2.
                </p>

                <h5 class="mt-5">Literacy</h5>
                <p>
                    Looking at the basics, Dota does not deviate from the norm. 
                    An ARTS player – DotA’s target audience - that is coming from another game, will be highly familiar with the game’s UI, without any further explanation.
                    The Healthbar is green, whereas the enemy’s health is red, and mana is blue. 
                    Your gold in the bottom right corner will always be shown in golden-yellow color and the Icons usually do the rest 
                    (The buttons for Scan, Glyph and your Courier might be harder to understand as a new player).
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class=" text-center"
                    v-bind:src="this.image2"
                />
                </div>
                <p class="mt-4">
                    We can expect from the game’s target audience to know, where things are going to be located on the screen. 
                    On the bottom you will have your skillbar with additional information. 
                    On the top of the screen you will have all the information related to the game’s state, giving the player almost a sort of routine to develop, where to look
                    (<b-link class="link-secondary text-secondary" target="_blank" href="https://liquipedia.net/starcraft2/Mental_Checklist">Mental Checklist</b-link>).
                </p>
                
                <p>
                    As previously mentioned, there is a lot of information that is going to be hidden for the player, unless he hovers his mouse over it. 
                    A new player, as well as a seasoned player, doesn’t need to be exposed to information, that isn’t strictly needed at all times. 
                    This is done via tooltips on hover and the ‘Alt-modifier’, which will show additional information, like the tower range, your characters drop radius and most importantly the teleportation scroll status of your teammates at the top.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class=" text-center"
                    v-bind:src="this.image3"
                />
                </div>

                <p class="mt-4">
                    A player that has played games that are similar to the realm of Dota, will immediately recognize the layout of the map.
                </p>
                <div class="row justify-content-center">
                    <b-img style="width: 300px; height: 300px"
                    class="img-custome text-center"
                    v-bind:src="this.image4"
                />
                </div>


                <h5 class="mt-5">Immersion</h5>
                <p>
                    Alone from the minimap you can deduce that there are two factions, the Radiant and the Dire, each with their own distinct design theme. 
                    Whereas in lore both factions are ‘evil’, the Radiant’s theme is bound to nature, so there are a lot of greens, yellows and live present on their side.  
                    Dire on the other hand might be already perceived as some of the ‘bad guys’, because their colors revolve around a darker color theme with grey and black. 
                    The colors barely have any leaves and the environment consists of a lot of gravel and rocks.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class=" text-center"
                    v-bind:src="this.image5"
                    />
                </div>
                <div>
                    <figcaption class="figure-caption text-center mt-1">
                    <b-link class="link-secondary text-secondary" href="https://twitter.com/redditdota2/status/1376174605652606981/photo/1" target="_blank">
                      Source: OGDota
                    </b-link>
                  </figcaption>
                </div>
                <p class="mt-4">
                    The difference is day and night and the entire map is divided by the neutral component, the river in the middle of the map.
                </p>
                <p>
                    Magic is very common in Dota 2, thus you’re not surpriced to see magician’s wielding magical orbs. 
                    As common as magic are shotguns and sniper rifles. While you would expect those things to appear in a modern game, the immersion still isn’t broken, because they are made up of materials that make you believe the weapon could exist in this universe.
                </p>

                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <b-img fluid
                                class=" text-center"
                                v-bind:src="this.image6"
                            />
                        </div>
                        <div class="col-md-4">
                            <b-img fluid
                                class=" text-center"
                                v-bind:src="this.image7"
                            />
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>


                <h5 class="mt-5">Character Design</h5>
                <p>
                    Each Hero is designed in a special way, making every hero distinguishable from each other, just looking at their silhouette:
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class=" img-custome text-center"
                    v-bind:src="this.image8"
                    />
                </div>
                <div>
                  <figcaption class="figure-caption text-center mt-1">
                    <b-link class="link-secondary text-secondary" href="https://www.deviantart.com/imkb/art/DOTA-2-Silhouettes-361844967" target="_blank">
                      Source
                    </b-link>
                  </figcaption>
                </div>
                <p class="mt-4">
                    For example you can clearly tell, that the column on the right is one and the same hero: Anti Mage.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <b-img fluid
                                class=" text-center"
                                v-bind:src="this.image9"
                            />
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <figcaption class="figure-caption text-center mt-1">
                        <b-link class="link-secondary text-secondary" href="https://www.kindpng.com/imgv/hRixbRT_antimage-model-dota-2-anti-mage-cosplay-hd/" target="_blank">
                            Source
                        </b-link>
                    </figcaption>
                </div>

                <p class="mt-4">
                    Obviously I don’t need to get into detail, that every character has their own VFX going alongside their spells, to make them easily distinguishable from other heroes.
                </p>


                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <b-img fluid
                            class=" text-center"
                            v-bind:src="this.image10"
                            />
                        </div>
                    </div>
                </div>
                


                <h5 class="mt-5">Shapes</h5>
                <p>
                    Dota also does a great job of portraying character connotations with their shapes on their heroes. Take Terrorblade for example. 
                    He is primarily build in triangular shapes, especially his wings, his weapons and his kilt? Just from this picture you wouldn’t want to hug this guy, because, apart from him probably consuming your soul, you might also just cut yourself somewhere.
                </p>
                <p>
                    On the other side of things, we have someone like Io, whose consisting of circular shapes inside circular shape (apart from the diamond VFX floating around his body). 
                    This character would be perceived as atleast neutral, if not friendly by the viewer.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image11"
                            />
                        </div>
                        <div class="col-md-6">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image12"
                            />
                        </div>
                    </div>
                </div>



                <h5 class="mt-5">Colors</h5>
                <p>
                    Colors are arguably one of the most important design decisions to a character in Dota. 
                    Just by looking at a hero’s color you can deduce multiple of things. 
                    This is also due to the fact that color coding is strongly tied into the lore of the game and a hero’s story.
                </p>
                <p>
                    Green is often associated with nature
                </p>


                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image13"
                            />
                        </div>
                        <div class="col-md-6">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image14"
                            />
                        </div>
                    </div>
                </div>

                <p class="mt-5">
                    Green can also stand for poison, death and decay, hence these guys can look really frightening.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image15"
                            />
                        </div>
                        <div class="col-md-6">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image16"
                            />
                        </div>
                    </div>
                </div>

                <p class="mt-4">
                    One could write another 2000 words on the subject of colors in Dota, but this should be enough for this small article.
                </p>


                <h5 class="mt-5">Diegetic Design</h5>
                <p>
                    Diegetic Design isn’t often used in Dota, because it’s a very competitive one and you need to be able to have access to information at every point in the game, but there are still some things that can be found in the game world to deliver information to the player. 
                    The most notable example would be the Aghanim’s Scepter effect around your character. 
                    Of course you can find this item in a heroes inventory, but since this is an item that changes the playstyle of a hero completely, you need to be able to see immediately, whether or not someone is in possession of this powerful item.
                    (Scepter on the left, Rubick with Scepter Effect on the right)
                </p>
                <div class="container">
                    <div class="row">
                        <div clasS="col-md-2"></div>
                        <div class="col-md-4">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image17"
                            />
                        </div>
                        <div class="col-md-4">
                            <b-img fluid
                                class="image-custome text-center"
                                v-bind:src="this.image18"
                            />
                        </div>
                        <div clasS="col-md-2"></div>
                    </div>
                </div>



                <h5 class="mt-5">Critic</h5>
                <p>
                    At this point I’ve praised the game to an extent, where someone might consider me biased. 
                    Don’t get me wrong Dota is the masterrace of ARTS.
                    Yet there are still some things that plague me to this day.
                </p>
                <p>
                    Dota’s barracks are divided into ranged and meele barracks. 
                    To this day I can’t differentiate between the two, without clicking on them and seeing which one has HP-regen and which one does not.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class=" text-center"
                    v-bind:src="this.image19"
                    />
                </div>
                <div>
                  <figcaption class="figure-caption text-center mt-1 text-secondary">
                      Can you tell the difference?
                  </figcaption>
                </div>

                <p class="mt-4">
                    Just put some sprites on top of it or something, Valve. Just like some guy on reddit did, I don't care.
                </p>
                
                <div class="row justify-content-center">
                    <b-img fluid
                    class=" text-center"
                    v-bind:src="this.image20"
                    />
                </div>
                <div>
                  <figcaption class="figure-caption text-center mt-1">
                        <b-link class="link-secondary text-secondary" href="https://www.reddit.com/r/DotA2/comments/8o678c/ive_been_playing_since_beta_and_i_just_realized/" target="_blank">
                            Source
                        </b-link>
                    </figcaption>
                </div>

                <p class="mt-4">
                    And with that, GL HF
                </p>

                <!-- image template
                <div class="row justify-content-center">
                    <img
                    class="img-custome text-center"
                    src="./CardGameArticlePreviewImage.png"
                    />
                </div>
                --->

            </div>
            <!-- end content -->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      image1: require(`./VisualDesignArticlePreviewImage.jpg`),
      image2: require(`./UIImage.jpg`),
      image3: require(`./AltModifierImage.png`),
      image4: require(`./Minimap_7.29.png`),
      image5: require(`./Artwork.jpg`),
      image6: require(`./invoker.png`),
      image7: require(`./sniper.png`),
      image8: require(`./silhouettes.png`),
      image9: require(`./antimage.png`),
      image10: require(`./chrono.jpg`),
      image11: require(`./TB.jpg`),
      image12: require(`./IO.jpg`),
      image13: require(`./Hoodwink.jpg`),
      image14: require(`./Tree.jpg`),
      image15: require(`./Necrophos.jpg`),
      image16: require(`./Medusa.jpg`),
      image17: require(`./Aghs.png`),
      image18: require(`./Rubick.png`),
      image19: require(`./Barracks.png`),
      image20: require(`./BarracksFix.png`)
    }
  }
  
};
</script>

<style scoped>
.img-custome {
  width: 500px;
  height: 287, 5;
}
</style>