<template>
  <div id="CardGameArticle" class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card my-4">
            <div class="card-head text-center mx-4">
              <b-img fluid
                class="img-custome my-4"
                v-bind:src="this.image1"
              />
              <h2 class="text-center">Reimagining Tekken 7's Audio</h2>
              <figcaption class="figure-caption text-center mt-1 text-secondary">
                      14.12.2021
              </figcaption>
            </div>
            <hr />

            <!-- start content -->
            <div class="card-body mx-3">
                <h5 class="">Tekken 7's Original Clip</h5>
                <p class="text-justify">
                    Tekken's audio design is phenomenal, there is no doubt about it. That's why this task was very difficult, since you are trying to create something, 
                    that is distinctly different from the original, but keeps the original idea's in mind.
                    A seasoned player for example would have an easy time recognizing a player's move just by listening to the corresponding sound effect.
                </p>
                <p class="text-justify">
                    The original clip i picked from the game is a sample combo of Lee Chaolan, also known as Violet.
                    He was part of the original roster on Tekken 7's release.
                    Lee is an elegant fighter, as hinted towards by his overall character design. 
                    His fighting outfit of choice is a suit and an overcoat, usually in blue / white or in violet (hence the name).
                    Not to mention his curtain haircut.
                </p>
                <p class="text-justify">
                  Lee's native tongue is japanese and he comes with a selection of voice lines that are bound to his signature moves.
                </p>
                <div class="container">
                  <div v-bind:class="this.videoSizeDesktop">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://www.youtube.com/embed/Nh-J2h_4_As"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>
                <div class="container">
                  <div v-bind:class="this.videoSizeMobile">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://www.youtube.com/embed/Nh-J2h_4_As"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>
                <p class="text-justify mt-5">
                  Well anyways, back to topic. I chose a 13 Hit Combo from Lee:
                </p>
                <div class="container">
                  <div v-bind:class="this.videoSizeDesktop">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://drive.google.com/file/d/1g9tKmyILr3bRoP8Iwu5Cr2U4iM1uqAt-/preview"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>
                <div class="container">
                  <div v-bind:class="this.videoSizeMobile">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://drive.google.com/file/d/1g9tKmyILr3bRoP8Iwu5Cr2U4iM1uqAt-/preview"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>


                <h5 class="mt-5">First Steps in Reaper</h5>
                <p class="text-justify">
                  This small project was the first time I worked in the digital audio workstation Reaper and after several failed tries to get the video window 
                  to display something I finally could start work on the audio.
                </p>
                <p class="text-justify">
                  The first bit was the hardest, because the first move is Lee's 'Acid Storm'. Lee kicks rapidly with his left leg in quick succession and finishes the string
                  with a powerful homing kick to launch the opponent.
                  I had to go through the clip frame by frame to find the exact moment to place the impact sound. I also did this for all the following impacts
                  and made sure to have a different sound effect for punches and kicks.
                </p>
                <p class="text-justify">
                  After that I started to and some swoosh sounds, whenever Lee would commit to a punch. I chose three different sound effects in total for this task, to alter 
                  the way it sounds.
                </p>
                <p class="text-justify">
                  After that i had to take the stage into consideration. There are multiple times, where Kunimitsu, Lee's opponent, would hit the ground and thus
                  the water on this stage. As a consequence I added a splash sound effect and made sure to make the last one a bit quieter and pitch it lower, because
                  Kunimitsu would have a greater distance to Lee.
                </p>
                <p class="text-justify">
                  I also wanted to have a sound effect with great impact for the combo finisher. I accomplished this again by pitching my chosen sound effect lower and
                  to add a bit of reverb to it to really emphasize the heaviness of the attack.
                </p>
                <p class="text-justify">
                  This was what i ended up with at this point:
                </p>

                <div class="container">
                  <div v-bind:class="this.videoSizeDesktop">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://drive.google.com/file/d/1Hr_I1a2o7JFXpYhb5H35KRl1g9E9uwgi/preview"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>
                <div class="container">
                  <div v-bind:class="this.videoSizeMobile">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://drive.google.com/file/d/1Hr_I1a2o7JFXpYhb5H35KRl1g9E9uwgi/preview"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>




                <h5 class="mt-5">Polish and Beats</h5>
                <p class="text-justify">
                  At this point I think it was coming quite well together. But I am probably not the only one that thinks that this scene still kinda feels empty.
                  That's because Tekken does have some awesome background music. The music that usually plays on this stage is 
                  <b-badge pill variant="secondary" href='https://youtu.be/iV36oKczdzE' target="_blank"> Infinite Azure</b-badge>.
                  The music with its light theme stands in stark contrast to the serious nature of Tekken.
                  I decided to add something that's also stark in contrast by going for music that sounds a lot more tropical with guitar strings in the background.
                </p>
                <p class="text-justify">
                  The last thing that was left, was to finally add a all the voice acting to the different hits. Online, in a free audio library, I found some 
                  karate sounds for my clip. Again I had to place everything accordingly.
                </p>
                <p class="justify-center">
                  At this point I wasn't done with work either, because I had to adjust the audio levels and test a few things until it sounded the way I wanted it to.
                  I ended up with a clip that, in my opinion, sounds very different to the original but still sticks close to its structure. Indeed it does feel distinct.
                  My sound edit also had a great impact on how Lee as a character is perceived. To some degree I think he sounds closer to Tekken 7's Law.
                </p>
                <p class="justify-center">
                  And at last, this is the result:
                </p>
                <div class="container">
                  <div v-bind:class="this.videoSizeDesktop">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://drive.google.com/file/d/1IB4gevyJTKWML9tAq5ceVN9XfyXUC7A9/preview"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>
                <div class="container">
                  <div v-bind:class="this.videoSizeMobile">
                    <b-embed
                      style=""
                      type="iframe"
                      aspect="16by9"
                      src="https://drive.google.com/file/d/1IB4gevyJTKWML9tAq5ceVN9XfyXUC7A9/preview"
                      allowfullscreen
                    ></b-embed>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      image1: require('./SoundDesignArticlePreviewImage.png'),
      videoSizeDesktop: 'mx-5 px-5 d-none d-md-block',
      videoSizeMobile: 'd-xs-block d-md-none',
    }
  }
};
</script>

<style scoped>
.img-custome{
    width: 500px;
    height: 287,5;
}
</style>