<template>
  <div id="CardGameArticlePreview">
    <div class="pb-4 bg-secondary">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-head text-center mx-4">
                <b-img fluid
                  class="img-custome mt-4 mb-3"
                  v-bind:src="this.image1"/>
                <h2 class="text-center">Reimagining Tekken 7's Audio</h2>
              </div>
              <hr />
              <div class="card-body">
                <p class="text-justify">
                    <!--Fighting games have been top notch when it comes to sound design. Every important bit of information is delivered through distinctly different sound effects.-->
                    Tekken's audio design is phenomenal, there is no doubt about it. That's why this task was very difficult, since you are trying to create something, 
                    that is distinctly different from the original, but keeps the original idea's in mind.
                    A seasoned player for example would have an easy time recognizing a player's move just by listening to the corresponding sound effect.
                </p>
                <div class="row justify-content-center pt-2">
                  <router-link to="/portfolio-website/blog/sounddesign" style="text-decoration:none">
                    <b-button class="">More</b-button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      image1: require('./SoundDesignArticlePreviewImage.png')
    }
  }
};
</script>

<style scoped>
.img-custome{
    width: 500px;
    height: 287,5;
}
</style>