<template>
  <div id="LevelDesignArticlePreview">
      <div class="pb-4 bg-secondary">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-head text-center mx-4">
                <b-img fluid
                  class="img-custome mt-4 mb-3"
                  v-bind:src="this.image1"/>
                <h2 class="text-center">Narrative Level Design with Cubes</h2>
              </div>
              <hr />
              <div class="card-body">
                <p class="text-justify">
                    Another challenge I had to face in my game design course was to create a level only using cubes in Unity. Of course I was allowed to transform and rotate them, but text and audio strictly wasn’t allowed. I tried to focus on telling a compelling and interesting story with my design...
                </p>
                <div class="row justify-content-center pt-2">
                  <router-link to="/portfolio-website/blog/leveldesign" style="text-decoration:none">
                    <b-button class="">More</b-button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      image1: require('./LevelDesignArticlePreviewImage.png')
    }
  }
};
</script>

<style scoped>
.img-custome{
    width: 500px;
    height: 287,5;
}
</style>