<template>
      <div id="CardGameArticle" class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card my-4">
            <div class="card-head text-center mx-4">
              <b-img fluid
                class="my-4"
                v-bind:src="this.image1"
              />
              <h2 class="text-center">Narrative Level Design with Cubes</h2>
              <figcaption class="figure-caption text-center mt-1 text-secondary">
                      19.11.2021
              </figcaption>
            </div>
            <hr />

            <!-- start content -->
            <div class="card-body mx-3">

                <h5 class="text-center">
                    I highly recommend you try the game first, before reading
                </h5>
                <h5 class="text-center">
                    Download here (Windows):
                </h5>
                <div class="row justify-content-center">
                    <b-button v-bind:href="url" target="_blank" class="">DOWNLOAD</b-button>
                </div>

                <p class="text-justify mt-5">
                    Another challenge I had to face in my game design course was to create a level only using cubes in Unity. 
                    Of course I was allowed to transform and rotate them, but text and audio strictly wasn’t allowed. 
                    I tried to focus on telling a compelling and interesting story with my design.
                </p>

                <p>
                    In the early stages of my thought process, I quickly figured that it would be an interesting idea to explore the surreal aspects of dreams. 
                    I started prototyping my first level. 
                    The main character would wake up in his room. 
                    In front of him his bed and on the wall something that’s supposed to be a painting. 
                    After the player starts looking around, he quickly realizes that he is indeed not in his bedroom, as he sees the bars of the cell he’s in. 
                    Once he steps out of his cell, he will find two other inmates that have been murdered. 
                    The intention here is to make the player feel uneasy, which is further intensified by the spotlights shining directly at the corpses. 
                    The third spotlight is pointed towards a hallway, to indicate the direction the player should take. 
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image2"
                    />
                </div>


                <p class="mt-5">
                    When the player enters the hallway, he will be surrounded by a black fog limiting the player’s vision. 
                    In this hallway there are also red lights accommodated that sporadically pop up and symbolize the sense of danger in this world. 
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image3"
                    />
                </div>
                
                
                <p class="mt-5">
                    After the player reaches the end of the hallway the fog disappears and he is confronted with another scene, which could be straight taken out of a museum. 
                    In this room the two block like personas are positioned similarly to the scene from 300. The first person is kicking the other off a cliff. 
                    Like every scene in this level, this one doesn’t necessarily make sense either until the end, but my intention was to show the reason, why the main character has ended up in jail to begin with. 
                    There is another point light in the same color as the spotlights from the first room right above the personas, to highlight the scene.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image4"
                    />
                </div>

                <p class="mt-5">
                    Next there is another hallway similarly to the first one that leads to the next room. 
                    There the surreal setting is exemplified even more, by the personas standing in highly dynamic poses, but still not moving. 
                    The tone in the meantime shifts from dark and brutal towards friendly. 
                    I tried to use differently colored spotlights to enhance the setting. (bright and vibrant colors are often associated with positive feelings)
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image5"
                    />
                </div>


                <p class="mt-5">
                    The next scene, again separated by a hallway, builds upon this idea with a bright directional light shining from above. 
                    The directional light omits a yellowish color, tinting the entire scene in a warm tone. 
                    Again there are the same two personas, this time sitting at the river, surrounded by big and small rocks. 
                    As always the interpretation is up to you, but just like the last scene this one was supposed to show the good times the main character might’ve had.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image6"
                    />
                </div>



                <p class="mt-5">
                    Entering the last hallway of this level, you will again pass by the red lights, but at the end you will find an orange cube floating up and down, waiting to be picked up. 
                    Once you walk on top of it, you will be teleported to the final room. 
                    The main character awakes from his dream and finds himself in his day to day situation. 
                    You are located in the cell from the first room, with the same rotation and the same look at your bed and the painting. 
                    This time though, once you turn around, you will notice that you’re indeed in a cell and it’s locked.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image7"
                    />
                </div>
                <div class="row justify-content-center mt-2">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image8"
                    />
                </div>



                <p class="mt-5">At this point the picture should come together very nicely. 
                    The first room could be considered a nightmare, the second room might be the reason, why the main character ended up in jail. 
                    Room three and four are the memory the main character shares with the person.
                </p>
                <p>
                    The narrative leaves a lot of room for interpretation. 
                    For example I strictly tried not to answer the question, why the main character might’ve shoved the other persona off the cliff. 
                </p>

                <!-- image template
                <div class="row justify-content-center">
                    <img
                    class="img-custome text-center"
                    src="./CardGameArticlePreviewImage.png"
                    />
                </div>
                --->

            </div>
            <!-- end content -->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      image1: require('./LevelDesignArticlePreviewImage.png'),
      image2: require('./Bed.png'),
      image3: require('./Room2.png'),
      image4: require('./Room3.png'),
      image5: require('./LevelDesignArticlePreviewImage.png'),
      image6: require('./Orb.png'),
      image7: require('./Bed.png'),
      image8: require('./Room5.png'),
      url: 'https://drive.google.com/drive/folders/1094E5ugpgvHghO7Oc4PL3zHra0xWvWPu?usp=sharing'
    }
  }
};
</script>

<style scoped>
.img-custome {
  width: 500px;
  height: 287, 5;
}
</style>
