<template>
  <div id="CardGameArticle" class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card my-4">
            <div class="card-head text-center mx-4">
              <b-img fluid
                class="img-custome my-4"
                v-bind:src="this.image1"
              />
              <h2 class="text-center">Creating a card game from scratch!</h2>
              <figcaption class="figure-caption text-center mt-1 text-secondary">
                      27.10.2021
              </figcaption>
            </div>
            <hr />

            <!-- start content -->
            <div class="card-body mx-3">
                <p class="text-justify">
                    Designing a card game from scratch is a challenge I would’ve
                    never believed I had to face going into my studies at
                    university. Going into the elective course “Game Design
                    Insights”, which covers a big spectrum of disciplines, this was
                    to be my first assignment and it had to be done in two weeks. In
                    the first week, my partner and I haven’t made any progress at
                    all. On the weekend we met to brainstorm different ideas. From a
                    RPG-like to a fully strategic card game, we had to take a step
                    back and look at the whole undertaking from a distance.
                </p>
                <h5 class="mt-5">Self Analysis</h5>
                <p>
                    Before we delved deeper into any specific context, we had to
                    take a look at who our target audience would be. Since the game
                    was made specifically for this course, we decided that the game
                    should be made for a player type, which is reflecting our
                    preferences. Talking to my partner, we figured out that he likes
                    to master a game, no matter if it is against other players or
                    against the game – the system itself. Historically speaking,
                    I’ve been a very competitive player by nature. I used to play
                    Overwatch in a team from 2017-2018 at a fairly high level,
                    striving to perfect my craft. After that I started playing Dota
                    2, peaking at Divine 4, around 5300 MMR.
                </p>
                <br>
                <p>
                    With all these factors in mind, we came to the conclusion that our game should be focusing on three major points:
                    <ul class="mt-1">
                        <li>Player Skill</li>
                        <li>Hard Rules</li>
                        <li>Minimize the amount of randomness</li>
                    </ul>
                </p>
                <p>
                    Especially the last point is a topic we had a lot of headaches with. We wanted to get it right, but more on that later.
                </p>
                <br>
                <p>
                    Taking into account, what we have learned in the lecture, we came up with this chart for our game: 
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image2"
                    />
                </div>
                <div>
                  <figcaption class="figure-caption text-center mt-1">
                    <b-link class="link-secondary text-secondary" href="https://en.wikipedia.org/wiki/Man,_Play_and_Games" target="_blank">
                      After "Man, Play and Games" by Robert Caillois
                    </b-link>
                  </figcaption>
                </div>


                <h5 class="mt-5">Rules</h5>
                <p>
                    Let’s talk about, how the game is actually played. The goal for each player is to collect full sets of cards. 
                    There are four total sets, scaling from two to four cards per set. 
                    For each card in the set, the player gains a certain amount of points, which can be found here:
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image3"
                    />
                </div>
                <div>
                  <figcaption class="figure-caption text-center mt-1">Yes, as you have noticed, I am not a graphics designer, but it should do the trick.</figcaption>
                </div>

                <p class="mt-4">
                  The game is divided into turns. Player 1 gets to choose one of the three cards on the draft row, or he can go for the risky route and draw one card from the draw pile. 
                  He then puts his chosen card onto his set. 
                  Player 2 does the same thing, but if a card from the draft row is chosen, he can only pick one of the two remaining cards or draw a card from the draw pile. 
                  Player 1 finishes the round by either taking the remaining card or again drawing from the draw pile.
                  Now, if there are any remaining cards left in the draft row, they are discarded on the discard pile. 
                  The second turn starts, following the same rules as above, but this time Player 2 will start first.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image4"
                    />
                </div>

                <p class="mt-4">
                  Drawn cards have to always be put on top of an existing set, if there is one available. If it’s not, a Player will have to start a new pile.
                  Once every card on the draft pile has been used up, the game ends and the amount of points are calculated. 
                  The Player with the most points wins the game.
                </p>

                <br>

                <p>
                  With the basics out of the way, there are three additional cards you need to know about.
                </p>
                <div class="row justify-content-center">
                    <b-img fluid
                    class="img-custome text-center"
                    v-bind:src="this.image1"
                    />
                </div>

                <p class="mt-4">
                  The Joker card allows you to lock your own set, for every card, that is beneath it you will get an additional +1 point, thus you’re making the most out of it by putting it on top of either clubs or spades. 
                  If you therefore put it on a set of three club cards, you will have to start a new set, if you decide to take another club card.
                </p>
                <p>
                  The “design card” in the middle is the lock card, you can use it to place it on top of your enemy’s set of your choice in order to lock it. 
                  For example if you decide to put it on top of his spades set of size 2, he will be stuck with a set that will give him -2 points.
                </p>
                <p>
                  The last card allows you to steal a card from a set, which is not locked (no joker and no lock card on top), from your opponent and add it to your own set.
                </p>
                
                <br>
                <p>
                  There are 2x(set size) – 1 card for each suit. And the face and number values aren’t used in this game.
                  <ul class="mt-1 mb-1">
                        <li>7 cards of spade</li>
                        <li>7 cards of clubs</li>
                        <li>3 cards of hearts</li>
                        <li>5 cards of diamond</li>
                  </ul>
                  With this information, it becomes clear, that both players won’t be able to gain a full set of a suit, bringing more weight onto your decisions.
                </p>
                

                <h5 class="mt-5">Meta Gaming</h5>
                <p>
                  From playing the game with my design partner, my friends and family members, the game would usually play out something like this:
                  <ul class="mt-1">
                    <li>Upon the first three cards being laid out on the draft row, a player picks a suit for his first set, he builds a strategy</li>
                    <li>The opponent either does the same or starts building a set of the same suit of his own</li>
                    <li>Later in the game both players will now have to make decisions based on whether or not it’s more beneficial to him to pick up a card or deny a potential card from his opponent</li>
                    <li>If a player wants to complete a set, but there is no card available for him on the draft row, he always has the option to gamble and get a chance of receiving his desired card by drawing from the draw pile</li>
                    <li>The three mentioned special cards bring in a lot of variety and will have the player required to think more about his next move</li>
                    <li>Since the cards in the hand of players, their sets and the amount of cards they have in each set is clearly visible, it is of tremendous importance to think about which cards have been moved on the discard pile, because those won’t be available in the rest of the game</li>
                  </ul>
                </p>

                <h5 class="mt-5">Randomness</h5>
                <p>
                  After those strategical key points, let’s talk a bit about the “randomness” factor of the game.
                </p>
                <p>
                  Randomness is considered to be a bad thing by most players, because it is blurring the lines between his showing of his abilities and “luck”.
                </p>
                <p>
                  But consider the other side. If the order of cards in the draw pile is known, before the game starts, we could determine the objectively correct way to play the game beforehand. 
                  You simply can’t make a perfect plan if the order of cards is unknown.
                </p>
                <p>
                  Since we’re avoiding this, a player’s strategy could be continuously interrupted by the current game state (which cards are on the draft row). 
                  Thus a player will have to think about his plan, whether it is still viable and whether or not he might have to adjust.
                </p>
                <p>
                  Introducing the information horizon, defined by Keith Burgun. 
                  The information horizon is the distance between the current turn and thee point at which information becomes known to the player. 
                  So for our game this would be, whenever there will be new cards drawn from the draw pile and laid out on the draft row. 
                  The player will continuously throughout the game have an information gain of about three to six cards. 
                  Since cards are relying on dependent probability, this will influence your decision making for the turns to come drastically.
                </p>
                <p class="">
                  You would also have to differentiate between input and output randomness. 
                  Input randomness would be something like in XCOM, where you make the decision to shoot a target, but then it’s determined whether or not you hit, because you only have a 58% chance to hit the target. 
                  Input randomness would be if you get your hand of cards and you would have to make the best decision with your information at hand. 
                </p>
                <h6 class="my-0">
                  Input randomness: 
                </h6>
                <p>
                  Randomness -> Decision
                </p>
                <h6 class="my-0">
                  Output randomness:
                </h6>
                <p>
                  Decision -> Randomness
                </p>

                <p>
                  Generally speaking output randomness undercuts strategy, whereas input randomness supports strategy. But keep in mind that output randomness doesn’t have to be a bad thing, as shown below.
                </p>

                <p>
                  We do have a healthy amount of both in our game. 
                  Input randomness would be drawing three cards and putting them into the draft row. 
                  Players would then have to come up with a good plan. 
                  Output randomness would be, if you decide to gamble for your desired card from the draw pile, but whether or not you get it is entirely dependent on the order of cards in the draw pile, which you don’t have any information about (considering you’re not yet thinking deeply about the game). 
                  Thus this is also not necessarily true, because with the previously mentioned information gain and your knowledge of what’s already on the discard pile, you might have a higher chance getting a card you want from the draw pile. 
                </p>
                


                <!-- image template
                <div class="row justify-content-center">
                    <img
                    class="img-custome text-center"
                    src="./CardGameArticlePreviewImage.png"
                    />
                </div>
                --->

            </div>
            <!-- end content -->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      image1: require(`./CardGameArticlePreviewImage.png`),
      image2: require(`./CardGameArticleCaillois.png`),
      image3: require(`./CardGameArticlePoints.png`),
      image4: require(`./CardGameArticleBoard.png`),
    }
  }
  
};
</script>

<style scoped>
.img-custome {
  width: 500px;
  height: 287, 5;
}
</style>