<template>
  <div id="CardGameArticlePreview">
    <div class="pb-4 bg-secondary">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-head text-center mx-4">
                <b-img fluid
                  class="img-custome mt-4 mb-3"
                  v-bind:src="this.image1"/>
                <h2 class="text-center">Creating a card game from scratch!</h2>
              </div>
              <hr />
              <div class="card-body">
                <p class="text-justify">
                  Designing a card game from scratch is a challenge I would’ve never believed I had to face going into my studies at university. Going into the elective course “Game Design Insights”, which covers a big spectrum of disciplines, this was to be my first assignment and it had to be done in two weeks. In the first week, my partner and I haven’t made any progress at all. On the weekend we met to brainstorm different ideas. From a RPG-like to a fully strategic card game, we had to take a step back and look at the whole undertaking from a distance...
                </p>
                <div class="row justify-content-center pt-2">
                  <router-link to="/portfolio-website/blog/cardgame" style="text-decoration:none">
                    <b-button class="">More</b-button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      image1: require('./CardGameArticlePreviewImage.png')
    }
  }
};
</script>

<style scoped>
.img-custome{
    width: 500px;
    height: 287,5;
}
</style>