<template>
  <div id="LatestProject" class="bg-dark text-light pb-4">
    <h1 class="py-2 text-center">Latest Project</h1>
    <div class="container">
      <div class="mx-5 px-5">
        <b-embed
          style=""
          type="iframe"
          aspect="16by9"
          src="https://www.youtube.com/embed/9K58os24DJc"
          allowfullscreen
        ></b-embed>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>