<template>
  <div id="Navbar">
    <nav class="navbar navbar-dark bg-dark nav justify-content-center">
        <!--
            <router-link to="/" href="#" class="navbar-brand">
                <img src="http://cdn.dota2.com/apps/dota2/images/heroes/mars_full.png?" height="72" alt="CoolBrand">
            </router-link>
        -->
    
            <div class="d-flex nav justify-content-center" style="font-size: 200%">
                <div class="navbar-nav ">
                    <router-link to="/" style="text-decoration:none">
                        <a class="nav-item nav-link">HOME</a>
                    </router-link>
                </div>
                <div class="navbar-nav ml-3">
                    <router-link to="/portfolio-website/blog" style="text-decoration:none">
                        <a class="nav-item nav-link">BLOG</a>
                    </router-link>
                </div>
            </div>
        </nav>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>