<template>
  <div id="Blog">
      <div class="text-center py-4 bg-secondary text-light">
        <h1 class="mt-2"><u>Blog</u></h1>
      </div>
      <DOSArticlePreview></DOSArticlePreview>
      <SoundDesignArticlePreview></SoundDesignArticlePreview>
      <LevelDesignArticlePreview></LevelDesignArticlePreview>
      <VisualDesignArticlePreview></VisualDesignArticlePreview>
      <CardGameArticlPreview></CardGameArticlPreview>
  </div>
</template>

<script>
import CardGameArticlPreview from './Articles/CardGame/CardGameArticlePreview.vue'
import VisualDesignArticlePreview from './Articles/Dota/VisualDesignArticlePreview.vue'
import LevelDesignArticlePreview from './Articles/LevelDesign/LevelDesignArticlePreview.vue'
import SoundDesignArticlePreview from './Articles/SoundDesign/SoundDesignArticlePreview.vue'
import DOSArticlePreview from './Articles/DOS/DOSArticlePreview.vue'

export default {
  components: {
    'CardGameArticlPreview': CardGameArticlPreview,
    'VisualDesignArticlePreview': VisualDesignArticlePreview,
    'LevelDesignArticlePreview': LevelDesignArticlePreview,
    'SoundDesignArticlePreview': SoundDesignArticlePreview,
    'DOSArticlePreview': DOSArticlePreview,
  }
}
</script>

<style scoped>

</style>