<template>
  <div id="app">
    <Navbar></Navbar>
    <router-view></router-view>
    
  </div>  
</template>


<script>
// Imports
import Navbar from './components/Navbar.vue'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>


<style>


</style>
