<template>
  <div id="CardGameArticlePreview">
    <div class="pb-4 bg-secondary">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-head text-center mx-4">
                <b-img fluid
                  class="img-custome mt-4 mb-3"
                  v-bind:src="this.image1"/>
                <h2 class="text-center">Creating Divinity: Original Sin's Combat in Unity</h2>
              </div>
              <hr />
              <div class="card-body">
                <p class="text-justify">
                    With Divinity: Original Sin 1 and 2 Larian Studios has not only managed to revive the CRPG genre, but also innovated the way combat is supposed to work in those games. 
                    Something that I liked the most are the interactions between elements that shape the battlefield. 
                    In this project I've tried to recreate the system in Unity.
                </p>
                <div class="row justify-content-center pt-2">
                  <router-link to="/portfolio-website/blog/divinity" style="text-decoration:none">
                    <b-button class="">More</b-button>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return{
      image1: require('./PreviewImage.png')
    }
  }
};
</script>

<style scoped>
.img-custome{
    width: 500px;
    height: 287,5;
}
</style>