<template>
  <div id="CardGameArticle" class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card my-4">
            <div class="card-head text-center mx-4">
              <b-img fluid class="img-custome my-4" v-bind:src="this.image1" />
              <h2 class="text-center">
                Creating Divinity: Original Sin's Combat in Unity
              </h2>
              <figcaption
                class="figure-caption text-center mt-1 text-secondary"
              >
                02.01.2022
              </figcaption>
            </div>
            <hr />

            <!-- start content -->
            <div class="card-body mx-3">
              <p class="text-justify">
                With Divinity: Original Sin 1 and 2 Larian Studios has not only
                managed to revive the CRPG genre, but also innovated the way
                combat is supposed to work in those games. Something that I
                liked the most are the interactions between elements that shape
                the battlefield. In this project I’ve tried to recreate the
                system in Unity.
              </p>
              <h5 class="mt-5">First attempt</h5>
              <p class="text-justify">
                The first idea I had was to use squares to create my surfaces. I
                would instantiate a bunch of cube prefabs with a small y-scale
                on the ground. This is my first version on the Fireball-spell:
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custome text-center"
                  v-bind:src="this.image2"
                />
              </div>
              <p class="text-justify mt-4">
                As you can see this comes with a bunch of problems. First of all
                you are never going to get a perfect circle shape. Even if you
                tried to decrease the size of the squares you would end up with
                a lot of game objects in your world.
              </p>
              <p class="text-justify">
                The biggest problem I had, was, when I tried to replicate the
                interactions of different elements. Whenever for example fire
                and water collided with each other, it would result in
                transforming one of the touching squares and destroy the other.
                Thus leaving a blank space where there’s supposed to be an
                elemental surface. Overlapping doesn’t seem to be an option,
                because it would clutter the environment. Finding a method to
                combine those surfaces via e.g. linking meshes would be really
                difficult.
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custome text-center"
                  v-bind:src="this.image3"
                />
              </div>
              <div>
                <figcaption class="figure-caption text-center mt-1">
                  Fire and Water colliding. The result is a "steam cloud"
                </figcaption>
              </div>

              <h5 class="mt-5">Observing</h5>
              <p class="text-justify">
                After being stuck with my project for quite a while, I started
                to do what I do best. I booted up Divinity: Original Sin 1 and
                took a closer look at the ‘Flare’ spell in the game and how the
                surface is created. Just as shown below, I used the spell on the
                ground and the second time I used it almost on the same spot,
                just a bit further to the right. Both of these positions
                resulted in the exactly same fire surface. This discovery got me
                thinking and I figured there has to be some sort of grid working
                in the background. I started to work on implementing my own
                version of this grid.
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custome-small text-center"
                  v-bind:src="this.image4"
                />
              </div>
              <div>
                <figcaption class="figure-caption text-center mt-1">
                  Placing the cursor at the blue and orange position would
                  result in the same surface being created
                </figcaption>
              </div>

              <h5 class="mt-5">Grid based surfaces</h5>
              <p class="text-justify">
                Once I had established my grid, I had to rewrite almost every
                spell I had created thus far. But the results speak for
                themselves. A cell in the grid currently has a size of 0.5 and I
                also added a particle system to visually represent the type of
                the surface. (I chose the same particle system, just with
                different colors for the surfaces in order to not get hung up on
                lower priority tasks). Here you can see a fire surface created
                first and then the water surface being cast on top of it,
                resulting in a steam cloud that’s supposed to block a player’s
                vision in the future.
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custom text-center"
                  v-bind:src="this.image1"
                />
              </div>
              <p class="text-justify mt-4">
                Already the results look pretty amazing, considering I was
                working alone on this project. The edges of the circle look
                pretty rough and sometimes they’re cut off, but I was happy I
                got to a point, where my system was finally working.
              </p>

              <h5 class="mt-5">Building upon the system</h5>
              <p class="text-justify">
                I decided to expand the system, by first of all adding the
                remaining surfaces I wanted to have in the game. I already had
                fire, water and steam and I added oil and electrified water to
                the game. I also added all the required interactions, like fire
                spreading on oil surfaces and more. At this point I had to
                reformat my code in order to keep it clean. I decided to create
                a script that’s only job is to manage my surfaces. It contains
                all the functions for handling surface creation and also all the
                interactions of the different elements. My function names got
                pretty wild at the end. The restructuring effort was well worth
                it, because it kept all my spell scripts clean and reduced the
                line count immensely. Later I will get into detail how I tried
                to engineer my project.
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custom text-center"
                  v-bind:src="this.image5"
                />
              </div>
              <div>
                <figcaption class="figure-caption text-center mt-1">
                  These are only two examples of all the functions that are
                  contained in this class.
                </figcaption>
              </div>

              <h5 class="mt-5">Explosions and Electrified Water</h5>
              <p class="text-justify">
                The next hurdle I faced was the creation of surfaces that spread
                among other surfaces, e.g. fire on oil or electrified water.
                After thinking about it for a while, I came to the conclusion
                that I had to “brute-force” ;) my way through it. I started to
                implement my version of breadth first search, because I had to
                traverse every single square on my grid and this can only be
                done with either depth first or breadth first search. For the
                fireball spell, I checked whether or not there is an oil surface
                in its radius. If there is, I would add it to a list and later
                then call a function that would traverse all the adjacent tiles
                (top, right, bottom and left). If those tiles were oil as well,
                they would be added to the list. If there are no adjacent oil
                tiles found, the algorithm would terminate, turning all the
                found tiles into fire. This leaves me with O(n) operations,
                because I literally need to go through every square that is
                composing a larger surface.
              </p>

              <h5 class="mt-5">Movement system</h5>
              <p class="text-justify">
                After this quite lengthy explanation of my surface system, I
                would like to talk a bit about how my movement system works.
                Thankfully, Unity offers the option of using the NavMesh in your
                project. While it is very easy to use it, I still had to build a
                lot of custom systems on top of it. (Drawing the desired path,
                calculating the amount of action points used, etc.)
              </p>
              <p class="text-justify">
                I would first check if the path from the player to the cursor
                position is viable. Then I would calculate the path length by
                retrieving the corners of the path and summing up their values.
                Then I would subtract the required action points from the UI on
                the top left. I also need to handle the case, where the cursor
                position is larger than the maximum distance the player could
                walk. Thus I calculated the maximum point along the given path.
                After this check is handled, I would draw the path using its
                corners. Finally, if the left mouse button is clicked, the
                player would walk along the path to its destination.
              </p>
              <p class="text-justify">
                One last thing I had to implement in the movement system was the
                surface detection. Every frame the player was moving, I would
                check whether or not he is standing on a surface that should
                apply a status. This will lead to player starting to burn once
                they step on a fire surface.
              </p>

              <h5 class="mt-5">Class overview</h5>
              <p>
                By using Unity as an engine I am bound to their component
                system. Most often than not you end up creating empty
                gameobjects with a manager script attached to it
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custom text-center"
                  v-bind:src="this.image6"
                />
              </div>
              <div>
                <figcaption class="figure-caption text-center mt-1">
                  While not strictly an UML diagram, it should give a solid
                  overview of the project files.
                </figcaption>
              </div>

              <h5 class="mt-5">Status effects</h5>
              <p class="text-justify">
                Speaking of status effects and burning players, I decided to add
                a component to each player that handles the said system. As
                already mentioned, once a player steps onto a surface, he will
                receive the corresponding status, by looking it up in a
                dictionary that stores they surface to status types. The other
                thing would be if a collider is found inside a spell radius for
                example. There I would add the status as well. The only thing I
                had to get done manually, was to check for whether or not the
                player was already affected by another status that would cancel
                out the new ones effect. This resulted in a lot of if
                statements, but it did get the job done and I didn’t manage to
                come up with a way of handling this better. (There probably
                isn’t, unless you do a similar lookup table like mentioned
                above)
              </p>
              <p class="text-justify">
                The actual effects themselves are represented by my
                ‘StatusEffect’ class. This class would contain delegates for the
                start-action, a turn-action and an end action. For example there
                are spells that would increase someone’s fire resistance by X
                amount and decreases it once the buff ends. The turn action was
                needed for damage over turn effects like burning. While I
                thought using delegates was a smart way of handling things, I
                quickly ended up with a lot of cases I had to go through, when
                assigning said delegates. It might’ve been better to design the
                status effects around a strategy pattern. Since I was already
                getting close to the end of my project, I decided the effort to
                refactor the code was not worth it and I kept it like it was,
                especially since I had already implemented all the status
                effects I needed. The status effects themselves were stored in
                the ‘StatusEffectManager’ which is attached to all the players
                and stores the status effects in a list.
              </p>

              <h5 class="mt-5">Battle manager</h5>
              <p class="text-justify">
                We already covered a lot of things, but we yet have to talk
                about the heart of my project the ‘BattleManager’. This class is
                used to coordinate the battle. Players are placed in a queue to
                determine their order of action. Once a player ends their turn
                they are de-queued and placed at the end of the queue. The
                battle manager also tracks the turn count and manages when
                status effects should be applied. Furthermore it will update the
                UI, e.g. when another player is supposed to have their spells be
                loaded into the spellbar. Most importantly it will keep track of
                which spell is active right now and enables/disables the needed
                scripts accordingly. The actual class itself consists of a lot
                of references to other classes/game objects and a lot of
                function calls, making it the brain of my systems.
              </p>

              <h5 class="mt-5">Spell manager</h5>
              <p class="text-justify">
                This is the class I probably should’ve thought a bit more about.
                This class holds a list of <strong>ALL</strong> the spells that
                are held by the player characters. Not the best idea I had, I
                know. As you might’ve guessed, whenever I wanted to retrieve a
                spell, e.g. when setting a cooldown, I would have to check for
                the spell type <strong>AND</strong> the owner of the spell. Even
                though the list is small, it would’ve been way easier to attach
                a spell manager to each player, since the BattleManager is
                holding the reference to the player anyways. Nonetheless I got
                it running without major bugs and I kept it the way it is. The
                spell manager is also responsible for looking up the necessary
                data for every spell.
              </p>

              <h5 class="mt-5">Utilizing Unity’s scriptable objects</h5>
              <p class="text-justify">
                T The spell manager also has a list of all the spell data I
                need. I created a scriptable object class as my data container,
                because I can manage those in the Unity Editor without going
                into my IDE. Creating a new scriptable object is a piece of cake
                now and I only need to drag them into the list in the inspector.
                Whenever I want to look up the data, I can call for the spell
                manager to iterate over the list and retrieve the required
                parameter.
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custom text-center"
                  v-bind:src="this.image8"
                />
              </div>

              <h5 class="mt-5">Linerenderer in Unity</h5>
              <p class="text-justify">
                Unity’s linerenderer is a component that can be attached to any
                game object. After gathering its reference you can start drawing
                lines in your game world. While easy to use at first, this
                feature comes with the limitation that you are only able to draw
                one continous line. Once you want to draw multiple disjunct
                lines, you would have to create another linerenderer. Since most
                of my spells require multiple indicators for range, path, etc.,
                I had to figure out a way to manage the amount of linerenderers
                I need. For this purpose I created a linerenderer class that
                would create all the needed linerenderers for me.
              </p>
              <p class="text-justify">
                Another challenge was to find a way of drawing circles, because
                there is no function present for the linerenderer component. I
                added a function that does exactly that.
              </p>
              <div class="row justify-content-center">
                <b-img
                  fluid
                  class="img-custome text-center"
                  v-bind:src="this.image9"
                />
              </div>
              <p class="text-justify mt-4">
                Drawing the players walk path is fairly straight forward. Using
                the NavMeshAgent you can access its corners and hand them over
                to a function that handles the drawing of a path for you.
              </p>

              <h5 class="mt-5">The best of both worlds</h5>
              <p class="text-justify">
                The armor system in Divinity: Original Sin 2 (D:OS2) got a lot
                of criticism from the franchises fans. I am also of the belief
                that it did more harm than good. Battles usually end up being a
                contest for removing the enemies’ armor as quickly as possible
                in order to make them affected by crowd control. Then again the
                first game had the system based on chance, which isn’t
                necessarily suitable for a competetive game I wanted to make. My
                intention was to create a 2-player PvP experience with 2-3
                characters on each team. First in local coop, then in online,
                similar to D:OS2’s arena mode. My approach was to have spells
                that would always apply a malicious effect, like a stun, unless
                the enemy has some sort of preemptive protection, like a magic
                shield that blocks damage, but also prevents the character from
                having said malicious status effects being placed on them.
              </p>
              <p class="text-justify">
                While I managed to add a lot of status effects, like burning,
                which in turn would reduce the opponents fire resistance, I was
                not able to get a meaningful attribute system working, because I
                only had spells that were magic-based. Even though I had
                attributes already implemented in code, I decided to drop it for
                now. The idea was to have them work similarly to the D:OS1
                attributes. strength, dexterity and intelligence would raise the
                damage for each of the corresponding spells of the category.
                Constituion would affect the maximum cap of action points a
                character would have. Speed would grant you more initiative and
                more action points per turn. It would also alter your critchance
                and the meters your character can walk per action point.
              </p>
              <p class="text-justify">
                Another great addition to D:OS2 was the high ground system. This
                system is sadly not implemented (yet).
              </p>

              <h5 class="mt-5">Conclusion</h5>
              <p class="text-justify">
                With this project I really tried to push the limits of what I
                can achieve in about 3 months. I am fairly happy on how far I’ve
                gotten, even though I didn’t manage to implement all the things
                I really wanted. Sadly I did not get the prototype to a stage,
                where it’s actually a full game with menus, sounds, models and
                animations. Here is a look at the project’s state:
              </p>

              <div class="container">
                <div v-bind:class="this.videoSizeDesktop">
                  <b-embed
                    style=""
                    type="iframe"
                    aspect="16by9"
                    src="https://drive.google.com/file/d/1k9sc7UFXNhiq3iR4BBu-LOD8LnmNh7M-/preview"
                    allowfullscreen
                  ></b-embed>
                </div>
              </div>
              <div class="container">
                <div v-bind:class="this.videoSizeMobile">
                  <b-embed
                    style=""
                    type="iframe"
                    aspect="16by9"
                    src="https://drive.google.com/file/d/1k9sc7UFXNhiq3iR4BBu-LOD8LnmNh7M-/preview"
                    allowfullscreen
                  ></b-embed>
                </div>
              </div>

              
              <h5 class="mt-5">Outlook and Limitations</h5>
              <p class="text-justify">
                As mentioned previously there is a lot more stuff I would like
                to add to the game, but it might be time to move onto the next
                project. I still want to give you an outlook of what I’d like to
                implement if I come back to the project in the future.
              </p>

              <p class="text-justify">
                Something I haven’t been able to fix, was the fact that every
                single square on the grid would have its own particle system
                instantiated. This leads to massive performance issues if the
                entire playing field is covered by them. In reality this does
                not happen, because the surfaces decay over time. Still it would
                be something to consider once the game is a lot more demanding
                on hardware when assets are used. Right now the particles are
                created via the shuriken particle system, which is simulated on
                the CPU. One approach would be to programm the particles on your
                own and placing them manually using a “master particle system”,
                e.g. one for each elemental surface type. Another approach could
                be the Unity VFX-graph using the universal render pipeline.
                The VFX-graph particles are simulated on the GPU.
              </p>
              <p class="text-justify">
                Right now the game is created for local play. I would like to
                have the game to be played over networks. Unfortunately
                networking is an entirely different field that would need a lot
                of additional effort. While unity does offer a solution with its
                MLAPI for networking, I yet haven’t gotten into networking for
                games yet. Once I get the hang of it, this is certainly
                something I want to implement, especially as it does help to
                playtest the game against other people and it is certainly
                something that is necessarry for releasing the game.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      image1: require("./PreviewImage.png"),
      image2: require("./FireEarly.png"),
      image3: require("./SmokeEarly2.png"),
      image4: require("./Ingame.png"),
      image5: require("./SurfaceManager.png"),
      image6: require("./uml.drawio.png"),
      image7: require("./ScriptableObjectArray.png"),
      image8: require("./ScriptableObject.png"),
      image9: require("./RangeIndicators.png"),
      videoSizeDesktop: "mx-5 px-5 d-none d-md-block",
      videoSizeMobile: "d-xs-block d-md-none",
    };
  },
};
</script>

<style scoped>
.img-custome {
  width: 500px;
  height: 287, 5px;
}
.img-custome-small {
  width: 250px;
  height: 143, 75px;
}
</style>